<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= content_for(:title) %></title>
  <%= stylesheet_link_tag    "news_service/application", media: "all" %>
  <%= javascript_include_tag "news_service/application" %>
  <%= csrf_meta_tags %>
  <%# TODO OGP も入れたいはず…！ %>
</head>
<body>

<%= yield %>

</body>
</html>
