<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= current_page.page_title %></title>
  <%= stylesheet_link_tag    "news_service/application", media: "all" %>
  <%= javascript_include_tag "news_service/application" %>
  <%= csrf_meta_tags %>
  <%# NOTE OGP などのメタタグを埋め込む際は、`current_page` から必要な情報を取得する %>
</head>
<body>

<%= yield %>

</body>
</html>
